backports.tarfile==1.2.0
django==5.2.3
fastembed==0.7.1
gunicorn==23.0.0
h2==4.2.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
langchain-community==0.3.26
langchain-groq==0.3.4
pip-chill==1.0.3
platformdirs==4.2.2
pypdf2==3.0.1
qdrant-client==1.14.3
tiktoken==0.9.0
tomli==2.0.1
uvicorn==0.34.3
